MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/<dbname>
JWT_SECRET=your_jwt_secret
ACCESS_TOKEN_SECRET=your_access_token_secret
REFRESH_TOKEN_SECRET=your_refresh_token_secret
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d
FLOUCI_TOKEN=your_flouci_api_token
USER=your_email@gmail.com
APP_PASSWORD=your_gmail_app_password
WEB3_PROVIDER=HTTP://127.0.0.1:7545
NODE_ENV=development
BLOCKCHAIN_ENABLED=false
